/*General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Utilities*/

.container {
    max-width: 1000px;
    margin: 0 auto;
}


/* Header*/

#dash-black {
    border: 1px dashed black;
    width: 200px;
    padding-top: 6px;
}

header {
    border: 1px solid red;
    background-color: rgb(1, 188, 245);
    height: 80px;
    
}

section {
    background: orange;
    display: flex;
    justify-content:space-between; 
    margin-top: 20px;
    height: 36px;
}

nav {
    flex-basis: 600px;
    text-align:center;
}


ul li {
    display: inline-block;
    list-style: none;
}


.login-right {
    padding-left:150px
}

/* Main*/

main {
    height: 400px;
    background-color: blue;
}

/* Pink box*/

.pink-box {
    background-color: rgb(21, 85, 180);
    height: 450px;
    padding-top: 30px;
    display: flex; 
    justify-content:center;
}

.down-box-pink {
    height: 380px;
    width: 800px;
    background: rgb(240, 106, 233);
    border: 1px dashed black;
}


/* Box-2*/

.box-two {
    background-color: azure;
    height: 380px;
    padding-top: 20px;
    display: flex; 
    justify-content:center;
}


.next-box-two {
    height: 330px;
    width: 100%;
    background: rgb(106, 231, 240);
    border: 1px dashed black;
}

.down-box-two {
    height: 330px;
    width: 60%;
    background: rgb(252, 186, 248);
    border: 1px dashed black;
}


/* Box-3*/

.box-three {
    background-color: rgb(177, 172, 172);
    height: 380px;
    padding-top: 20px;
    display: flex; 
    justify-content:center;
}

.down-box-three {
    height: 330px;
    width: 370px;
    background: rgb(252, 186, 248);
    border: 1px dashed black;
}

.next-box-three {
    height: 330px;
    width: 628px;
    background: rgb(106, 231, 240);
    border: 1px dashed black;
}

/* Box-Green*/

.green-box {
    background-color: rgb(177, 172, 172);
    height: 450px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}


.down-box-green {
    height: 400px;
    width: 100%;
    background: green;
    border: 1px dashed black;
}

/* Colored-Column*/

.colored-column {
    background-color: black;
    height: 450px;
    padding-top: 20px;
    display: ;
    justify-content: ;
}

.purple-column {
    
}